{% extends 'site-layout.html' %}

{% if loggedin%} 
<style>
    .page-header .col{
        width: 50%;
    }
</style>
{% endif %}

{% block content %}
        <!-- start content -->
        <div class="page-content">
            <div class="content">
                <h2>Delete your Account</h2>
                <h4>Are you sure you want to permanently delete your account?</h4>
                <form action="/confirm-delete" method="post">
                    <div>
                        <!--password field-->
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div>
                        <!--submit button-->
                        <input type="submit" class="submit" value="Confirm">
                        <!--cancel button-->
                        <input type="button" class="button" onclick="window.location.replace('/')" value="Cancel">
                    </div>
                </form>
        </div>
        <!-- end content -->
{% endblock %}