@charset "UTF-8";
/* CSS Document */
/************************
Global
************************/
*{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    line-height: 25px;
}
a{
    color: #446bcc;
    text-decoration: none;
    transition: 70ms;
}
hr{
    background: #dddddd;
    height: 1px;
    border: none;
}
body{
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.col{
    float: left;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
/************************
Header
************************/
#site-header{
    width: 100%;
    background-color: #00a374;
    height: auto;
    display: block;
    margin: 0;
    padding: 18px 0;
    overflow: hidden;
    color: white;
    position: fixed;
    top: 0;
}
#site-header .col.left{
    width: 40%;
}
#site-header .col.right{
    width: 60%;
}
#site-header #main-menu{
    background-color: #00a374;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#site-header #main-menu ul{
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: right;
}
#site-header #main-menu ul li{
    display: inline-block;
    margin: 0;
}
#site-header #main-menu ul li a{
    width: auto;
    height: auto;
    display: block;
    color: white;
    margin: 0;
    padding: 0 15px;
}
#site-header #main-menu ul li a:hover{
    color: #446bcc;
    opacity: 1 !important;
}
#site-header #main-menu ul li.active a{
    opacity: .6;
}
/************************
Footer
************************/
#site-footer{
    background: #eeeeee;
    margin: 30px 0 0 0;
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    text-align: center;
    font-size: 13px;
}
/************************
Page
************************/
.page-header{
    background-color: #44CCA5;
    height: auto;
    min-height: 109.5px;
    margin: 62px 0 0 0;
    padding: 30px 50px;
    color: #000000;
    overflow: hidden;
}
.page-header .columns{
    align-items: center;
}
.flashes{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    margin-bottom: 30px;
    border-radius: .25rem;
}
.flashes.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.flashes .flashes-content{
    max-width: 900px;
    margin: 0 auto;
}
.flashes .flashes-content p{
    text-align: center;
}
.create-button-wrap{
    display: flex;
    justify-content: right;
    gap: 15px;
}
.create-button-form{
    background-color: transparent;
    width: auto;
    height: auto;
    display: inline-block;
    margin: 30px 0;
    padding: 0;
    line-height: auto;
}
.create-button-form input[type=submit]{
    background-color: #446bcc;
    width: 100%;
    margin: initial;
    padding: 10px 20px;
    font-weight: bold;
    color: #ffffff;
    border: 1px solid #446bcc;
    transition: .2s;
}
.create-button-form input[type=submit]:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #446bcc;
}
#action-button-delete-task input[type=submit]{
    background-color: red;
    border: 1px solid red;
}
#action-button-delete-task input[type=submit]:hover{
    background-color: #ffffff;
    color: red;
}
/************************
Forms
************************/
form{
    max-width: 500px;
    width: 100%;
    background: #f7f7f7;
    display: block;
    margin: 50px auto;
    padding: 40px;
    overflow: hidden;
}
form label{
    padding-bottom: 13px;
}
form input,
form textarea,
form #submit-btn{
    width: 94%;
    margin: 8px 0 15px 0;
    padding: 10px 3%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form #submit-btn{
    background: #aa00ff;
    width: 100%;
    border: none;
    color: #ffffff;
}
form #submit-btn:hover{
    cursor: pointer;
    background: #7200ca;
}
/************************
Home
************************/
.columns{
    display: flex;
    flex-wrap: wrap;
}
.two-column-layout .column{
    width: 50%;
}
.three-column-layout .column{
    width: 33.333%;
    flex: 1;
}
.tasks{
    list-style: none;
}
.tasks li{
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.tasks li .task-link{
    transition: 0s;
    padding-right: 18px;
}
.tasks li .task-link:hover{
    background-image: url( /static/images/pencil-solid.svg );
    background-repeat: no-repeat;
    background-position: right 4px;
    background-size: 11px;
}
.status-button-form{
    background: none;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 3px;
    left: -33px;
    line-height: 15px;
}
.status-button-form input[type=submit]{
    background-image: url( /static/images/square-light.svg );
    background-repeat: no-repeat;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 0px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
}
.status-button-form input[type=submit]:hover{
    background-image: url( /static/images/square-check-light.svg );
}
.status-button-form.completed input[type=submit]:default,
.status-button-form input[type=submit]:active{
    background-image: url( /static/images/square-check-solid.svg );
}
.status-button-form.completed input[type=submit]:hover{
    background-image: url( /static/images/square-check-light.svg );
}