@charset "UTF-8";
/* CSS Document */
/************************
Global
************************/
*{
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    line-height: 25px;
}
a{
    color: #651fff;
    text-decoration: none;
    transition: 70ms;
}
hr{
    background: #dddddd;
    height: 1px;
    border: none;
}
body{
    margin: 0 auto;
}
.left{
    float: left;
}
.right{
    float: right;
}
.col{
    float: left;
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
/************************
Header
************************/
#site-header{
    width: 100%;
    background-color: #006b5a;
    height: auto;
    display: block;
    margin: 0;
    padding: 18px 0;
    overflow: hidden;
    color: white;
    position: fixed;
    top: 0;
}
#site-header .col.left{
    width: 40%;
}
#site-header .col.right{
    width: 60%;
}
#site-header #main-menu{
    background-color: #006b5a;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#site-header #main-menu ul{
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    text-align: right;
}
#site-header #main-menu ul li{
    display: inline-block;
    margin: 0;
}
#site-header #main-menu ul li a{
    width: auto;
    height: auto;
    display: block;
    color: white;
    margin: 0;
    padding: 0 15px;
}
#site-header #main-menu ul li a:hover{
    color: #aa00ff;
    opacity: 1 !important;
}
#site-header #main-menu ul li.active a{
    opacity: .6;
}
/************************
Footer
************************/
#site-footer{
    background: #eeeeee;
    margin: 30px 0 0 0;
    padding: 15px 0;
    border-top: 1px solid #dddddd;
    text-align: center;
    font-size: 13px;
}
/************************
Page
************************/
.page-header{
    background-color: #7c968e;
    height: auto;
    margin: 62px 0 0 0;
    padding: 30px 50px;
    color: white;
    overflow: hidden;
}
.flashes{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    margin-bottom: 30px;
    border-radius: .25rem;
}
.flashes.error{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.flashes .flashes-content{
    max-width: 900px;
    margin: 0 auto;
}
.flashes .flashes-content p{
    text-align: center;
}
/************************
Forms
************************/
form{
    max-width: 500px;
    width: 100%;
    background: #f7f7f7;
    display: block;
    margin: 50px auto;
    padding: 40px;
    overflow: hidden;
}
form label{
    padding-bottom: 13px;
}
form input,
form textarea,
form #submit-btn{
    width: 94%;
    margin: 8px 0 15px 0;
    padding: 10px 3%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form #submit-btn{
    background: #aa00ff;
    width: 100%;
    border: none;
    color: #ffffff;
}
form #submit-btn:hover{
    cursor: pointer;
    background: #7200ca;
}