{% extends 'site-layout.html' %}

{% block content %}
<!-- start content -->
<div class="page-content">
    <div class="content">

        <form action="/create-task" method="POST">

            <!--Task Name-->
            <label for="task_name">Task name:</label>
            <input type="text" id="task_name" name="task_name"><br>

            <!--Description-->
            <label for="description">Description:</label>
            <textarea id="description" name="description">Notes here.</textarea><br>

            <!--Due Date-->
            <label for="due_date">Due Date:</label>
            <input type="date" id="due_date" name="due_date">

            <!--List ID-->
            <input type="hidden" id="list_id" name="list_id" value="0"><br>

            <!--submit-->
            <input type="submit" class="submit" value="Add a task">

        </form>
    </div>
</div>
<!-- end content -->
{% endblock %}