{% extends 'site-layout.html' %}

{% block content %}
<!-- start content -->
<div class="page-content">
    <div class="content">

        <form action="/create-list" method="POST">

            <!--listname-->
            <label for="list_name">List name:</label>
            <input type="text" id="list_name" name="list_name"><br>

            <!--description-->
            <label for="list_description">Description:</label>
            <textarea id="list_description" name="list_description"></textarea><br>

            <!--submit-->
            <input type="submit" class="submit" value="Add a list">
            
        </form>
    </div>
</div>
<!-- end content -->
{% endblock %}