{% extends 'site-layout.html' %}

{% block content %}
<!-- start content -->
<div class="page-content">
    <div class="content">

        <form action="/create-task" method="POST">

            <!--Task Name-->
            <label for="task_name">Task name:</label>
            <input type="text" id="task_name" name="task_name" required><br>

            <!--Description-->
            <label for="description">Description:</label>
            <textarea id="description" name="description">Add Note</textarea><br>

            <!--Due Date-->
            <label for="due_date">Due Date:</label>
            <input type="date" id="create_task_due_date" name="due_date">

            <!--List-->
            {% if lists %}
                <label for="list_id">List:</label>

                <select name="list_id" id="list_id">
                    {% for list in lists %}
                    <option value="{{ list[1] }}">{{ list[0] }}</option>
                    {% endfor %}
                </select>
                {% else %}
                <input type="hidden" id="list_id" name="list_id" value="0">
            {% endif %}

            <!--Submit-->
            <input type="submit" class="submit" value="Add a task">

        </form>
    </div>
</div>
<!-- end content -->
{% endblock %}