{% extends 'site-layout.html' %}

{% block content %}
        <!-- start content -->
        <div class="page-content">
            <div class="content">
                <h2>Change your password</h2>
                <form action="/forgot_password" method="post">
                    <!--username field-->
                    <div>
                        <label for="username">Username</label>
                        <input type="text" name="username">
                    </div>
                    <div>
                        <!--submit button-->
                        <input type="submit" class="submit" value="Submit">
                        <!--cancel button-->
                        <input type="button" class="button" onclick="window.location.replace('/login')" value="Cancel">
                    </div>
                </form>
        </div><!-- end content -->
{% endblock %}
