{% extends 'site-layout.html' %}

{% block content %}
        <!-- start content -->
        <div class="page-content">
            <div class="content">
                <h2>Introduction</h2>
                <p>Hello, World!</p>
                <h3>Default List</h3>
                <ol>
                    <li><a href="/">Home</a></li>
                    <li><a href="/account">My Account</a></li>
			        <li><a href="/logout">Log Out</a></li>
                </ol>
        </div><!-- end content -->
{% endblock %}