{% extends 'site-layout.html' %}

{% block content %}
<!-- start content -->
<div class="page-content">
    <div class="content">

        <form action="/create-list" method="POST">

            <!--listname-->
            <label for="list_name">Task name:</label>
            <input type="text" id="list_name" name="list_name"><br>

            {% if tasks %}

            <h3>List Name</h3>

            <ul>

                {% for task in tasks %}



{% if task[4] == list-id %}

                    <li>{{ item[0] }}</li>

{% endif %}



                {% endfor %}

            </ul>

{% endif %}

        </form>
    </div>
</div>
<!-- end content -->
{% endblock %}