<!DOCTYPE html>
<html>
<head>
	<title>To-Do List Log In</title>
	<link rel="icon" href="data:,">
    <style>
      div {
        margin-bottom: 5px;
      }
      label {
        display: block;
        float: left;
        width: 150px;
        text-align: right;
        font-weight: bold;
        margin-right: 10px;
      }
      input.submit {
        margin-left: 160px;
      }
      p {
        margin-left: 160px;
      }
    </style>
</head>
<body>
	<h1>To-Do List Log In</h1>
	<form action="/login" method="POST">
		<!--username-->
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br>
		<!--password-->
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<!--submit-->
		<input type="submit" class="submit" value="Log In">
		<!--Register-->
		<p>Don’t have an account?
			<a href="{{ url_for('register') }}">Register</a>
		</p>
	</form>
</body>
</html>