{% extends 'site-layout.html' %}

{% block content %}
<!-- start content -->
<div class="page-content">
  <div class="content">
    <form action="/login" method="POST">
      <!--username-->
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br>
      <!--password-->
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <!--submit-->
      <input type="submit" class="submit" value="Log In">
      <!--Register-->
      <p>Don't have an account?
        <a href="{{ url_for('register') }}">Register</a>
      </p>
      <p>Having trouble signing in?
      <a href="forgot-password">Reset Password</a>
      </p>
    </form>
  </div>
  <!-- end content -->
  {% endblock %}