{% if loggedin%} 
<style>
    .page-header .col{
        width: 50%;
    }
</style>
{% endif %}

<!-- start page header -->
<div class="page-header">
    <div class="content">

        <div class="columns two-column-layout">
            <div class="column">
                <h1>{{page_title}}</h1>
                {% if loggedin%}
                    <p>You are logged in as <strong>{{ username }}</strong>.</p>
                {% endif %}
            </div>
            <div class="column">

                <div class="create-button-wrap">
                    <form action="{{ url_for('create_task') }}" id="create-button-add-task" class="create-button-form">
                        <input type="submit" value="Add a task" />
                    </form>

                    <form action="{{ url_for('create_list') }}" id="create-button-add-list" class="create-button-form">
                        <input type="submit" value="Add a list" />
                    </form>
                </div>
            </div>

            
        </div>
    </div>
</div>
<!-- end page header -->