<!DOCTYPE html>
<html>
<head>
    <title>Password Update</title>
    <link rel="icon" href="data:,">
    <style>
      div {
        margin-bottom: 5px;
      }
      label {
        display: block;
        float: left;
        width: 150px;
        text-align: right;
        font-weight: bold;
        margin-right: 10px;
      }
      input.submit {
        margin-left: 160px;
      }
      p {
        margin-left: 160px;
      }
    </style>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1>Update Password</h1>
    <form action="/password_update" method="post">
        <!--username field-->
        <div>
            <label for="username">Username</label>
            <input type="text" name="username">
        </div>
        <!--existing password field-->
        <div>
            <label for="password">Existing Password</label>
            <input type="password" name="password">
        </div>
        <br>
        <!--new password field-->
        <div>
            <label for="password">New Password</label>
            <input type="password" name="new_password">
        </div>
        <div>
            <!--submit button (cancel)-->
            <input type="submit" class="submit" value="Update">
            <!--direct users to sign up if they don't have an account-->
            <p>
                <a href="{{ url_for('index') }}">Return to Home</a>
            </p>
            <!--displayed flashed messages-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </form>
</body>
</html>
{% extends 'site-layout.html' %}

{% block content %}
        <!-- start content -->
        <div class="page-content">
            <div class="content">
                <h2>Change your password</h2>
                <form action="/password_update" method="post">
                    <!--username field-->
                    <div>
                        <label for="username">Username</label>
                        <input type="text" name="username">
                    </div>
                    <!--existing password field-->
                    <div>
                        <label for="password">Existing Password</label>
                        <input type="password" name="password">
                    </div>
                    <br>
                    <!--new password field-->
                    <div>
                        <label for="password">New Password</label>
                        <input type="password" name="new_password">
                    </div>
                    <div>
                        <!--submit button-->
                        <input type="submit" class="submit" value="Submit">
                        <!--cancel button-->
                        <input type="button" class="button" onclick="window.location.replace('/')" value="Cancel">
                    </div>
                </form>
        </div><!-- end content -->
{% endblock %}
