{% extends 'site-layout.html' %}

{% block content %}
        <!-- start content -->
        <div class="page-content">
            <div class="content">
                <h2>Sign Up for an Account</h2>
                <form action="/register" method="post">
                    <div>
                        <!--username field-->
                        <label for="username">Username</label>
                        <input type="text" name="username">
                    </div>
                    <div>
                        <!--password field-->
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div>
                        <!--submit button (sign up)-->
                        <input type="submit" class="submit" value="Sign Up">
                        <!--cancel button-->
                        <input type="button" class="button" onclick="window.location.replace('/login')" value="Cancel">
                    </div>
                </form>
        </div><!-- end content -->
{% endblock %}
