{% extends 'site-layout.html' %}

{% block content %}
        <!-- start content -->
        <div class="page-content">
            <div class="content">
                <h2>Password Reset</h2>
                <form action="/reset-password" method="post">
                    <!--new password field-->
                    <div>
                        <label for="password1">New Password</label>
                        <input type="password" name="password1">
                    </div>
                    <div>
                        <label for="password1">Re-Enter Password</label>
                        <input type="password" name="password2">
                    </div>
                    <div>
                        <!--submit button-->
                        <input type="submit" class="submit" value="Submit">
                        <!--cancel button-->
                        <input type="button" class="button" onclick="window.location.replace('/')" value="Cancel">
                    </div>
                </form>
        </div>
        <!-- end content -->
{% endblock %}
