<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="icon" href="data:,">
    <style>
      div {
        margin-bottom: 5px;
      }
      label {
        display: block;
        float: left;
        width: 550px;
        text-align: right;
        font-weight: bold;
      }
      input.submit {
        margin-left: 160px;
      }
      p {
        margin-left: 160px;
      }
    </style>
</head>
<body>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <h1>Complete Sign-up</h1>
    <form action="/security_questions" method="post">
        <div>
            <!--security question 1 field-->
            <label for="security question 1">Security Question 1: What is your birthday?</label>
            <input type="text" name="security question 1">
        </div>
        <div>
            <!--security question 2 field-->
            <label for="security question 2">Security Question 2: How many siblings do you have?</label>
            <input type="text" name="security question 2">
        </div>
        <div>
            <!--security question 3 field-->
            <label for="security question 3">Security Question 3: What was the name of your elementary school?</label>
            <input type="text" name="security question 3">
        </div>
        <div>
            <!--submit button (sign up)-->
            <input type="submit" class="submit" value="Submit">
        </div>
        <div>
            <!--direct users to log in if they have an account-->
            <p>Already a member?
                <a href="{{ url_for('login') }}">Log in here.</a>
            </p>
        </div>
        <div>
            <!--displayed flashed messages-->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}  
        </div>
    </form>
</body>
</html>