{% extends 'site-layout.html' %}

{% block content %}
        <!-- start content -->
        <div class="page-content">
            <div class="content">
                <form action="/update-password" method="post">
                    <!--existing password field-->
                    <div>
                        <label for="password">Existing Password</label>
                        <input type="password" name="password">
                    </div>
                    <!--new password field-->
                    <div>
                        <label for="password">New Password</label>
                        <input type="password" name="new_password">
                    </div>
                    <div>
                        <!--submit button-->
                        <input type="submit" class="submit" value="Submit">
                        <!--cancel button-->
                        <input type="button" class="button" onclick="window.location.replace('/')" value="Cancel">
                    </div>
                </form>
        </div>
        <!-- end content -->
{% endblock %}
