{% extends 'site-layout.html' %}

{% block content %}
<!-- start content -->
<div class="page-content">
    <div class="content">

        <h2>{{list_name}}</h2>
        {% if tasks %}

            <h3>Tasks</h3>

            {% if task_list_has_tasks %}
            <ul>

                {% for task in tasks %}

                    {% if task[4] %}
                        {% if task[4] == list_id %}

                            <li>{{ task[0] }}</li>

                        {% endif %}
                    {% endif %}

                {% endfor %}

            </ul>
            {% else %}
                <p>There are no tasks in this list.</p>
            {% endif %}

        {% endif %}
    </div>
</div>
<!-- end content -->
{% endblock %}